xsd/Cases.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Tue Apr 03 2018 01:24:45 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Cases">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Case" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="CaseNumber" type="xs:int"></xs:element>
                                             <xs:element name="CourtName" type="xs:string"></xs:element>
                                             <xs:element name="ClientName" type="xs:string"></xs:element>
                                             <xs:element name="OppositePartyName" type="xs:string"></xs:element>
                                             <xs:element name="Description" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>