xsd/CaseHistories.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Tue Apr 03 2018 01:30:12 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="CaseHistories">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="CaseHistory" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="id" type="xs:string"></xs:element>
                                             <xs:element name="CaseNumber" type="xs:int"></xs:element>
                                             <xs:element name="NumberOfDay" type="xs:int"></xs:element>
                                             <xs:element name="Description" type="xs:string"></xs:element>
                                             <xs:element name="PreviousDate" type="xs:string"></xs:element>
                                             <xs:element name="PreviousStage" type="xs:string"></xs:element>
                                             <xs:element name="NextDate" type="xs:string"></xs:element>
                                             <xs:element name="NextStage" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>