xsd/Clients.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sun Apr 01 2018 12:49:08 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Clients">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Client" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="ClientName" type="xs:string"></xs:element>
                                             <xs:element name="Adress" type="xs:string"></xs:element>
                                             <xs:element name="ContactNumber" type="xs:string"></xs:element>
                                             <xs:element name="CaseNumbers" type="xs:string"></xs:element>
                                             <xs:element name="TotalFees" type="xs:int"></xs:element>
                                             <xs:element name="FeesPaid" type="xs:int"></xs:element>
                                             <xs:element name="FeesPending" type="xs:int"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>